<h2>Написать новый пост</h2>
<hr />
<p>
	<form action="/new" method="POST" role="form">
		<textarea name="post[content]" class="form-control" rows="5" placeholder="Расскажите нам всё..."></textarea>
		<br />
		<label for="username">Username:</label>
		<input name="post[user]" type="username" class="form-control" id="username" placeholder="username"></input>
		<br />
		<button type="submit" class="btn btn-primary">YARRR</button>
	</form>
</p>