<h3>Post details:</h3>
<p>
	<%= @post.content %>
	<br /><br />
	<span style="font-size: 75%; color: #999">Added at <%= @post.created_at %> by <b><%= @post.user %></b></span>
</p>
<hr />
<h4>Comments:</h4>